body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.grocery-bg {
  background-color: #ECECEC;
  margin-left: 10px;
  margin-right: 10px;
}

.shopping-bag-bg {
  background-color: #E4F1FE;
  margin-left: 10px;
  margin-right: 10px;
}

.stats-bg {
  background-color: #F2F1EF;
  margin-left: 10px;
  margin-right: 10px;
}